# Node / build
node_modules/
dist/
build/
coverage/

# Repos externes / gros dumps
n8n-master/
axelor-open-suite/
lucide-main/
React-tailwind-components/
svg-logos/

# Temp & lourds
*.log
*.xlsx
*.zip
*.rar
*.7z
*.tmp

# Env & OS
.env
.DS_Store
Thumbs.db

!package.json
!tsconfig.json
!*.app.json
!*.node.json
