LYXAL_ENV=development
LYXAL__APPLICATION__INSTANCE_ID=local
LYXAL__SERVER__HOST=0.0.0.0
LYXAL__SERVER__PORT=8080
LYXAL__DATABASE__ENDPOINT=ws://127.0.0.1:8000
LYXAL__DATABASE__NAMESPACE=lyxal
LYXAL__DATABASE__DATABASE=system
LYXAL__DATABASE__USERNAME=root
LYXAL__DATABASE__PASSWORD=root
LYXAL__OBSERVABILITY__LOG_FILTER=info,lyxal_server=debug
