/target
Cargo.lock

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IDE - IntelliJ
.idea
*.iml

# OS - Windows
Thumbs.db
Desktop.ini

# OS - macOS
.DS_Store

# Logs
*.log

# Temporary files
*.swp
*~
